/TaskAuth/TaskAuth/.config/
/TaskAuth/TaskAuth/bin/
/TaskAuth/TaskAuth/obj/
/TaskAuth/TaskAuth/TaskAuth.csproj/
/TaskAuth/TaskAuth/appsettings.Development.json/
/TaskAuth/TaskAuth/TaskAuth.csproj.user/
/TaskAuth/TaskAuth/Properties/
/TaskAuth/TaskAuth/appsettings.json/
/TaskAuth/.vs
/TaskAuth/TaskAuth.sln